@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the font roboto for the whole website */
body {
  font-family: "Roboto Condensed", sans-serif;
}

.connect-wallet {
  width: 160px !important;
  height: 40px !important;
  background: #6e5b98 !important;
  border-radius: 5px !important;
  color: white !important;
  border: none !important;
}
